*.rar
*.a
*.o
*.iex
*.htm
*.crf
*.uvgui*
*.*Preview
*.Zip
*.zip
*.txt
!ReadMe.txt
history/
*.NET
*.LOG
*.log
*.PRJPCBStructure
.gitignore

#过滤Quartus II工程相关件
#过滤文件夹
db/
incremental_db/
simulation/
#过滤文件
*.rpt
*.cdf
*.done
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.pof
*.qws

